global
  log /dev/log  local0 warning
  chroot      /var/lib/haproxy
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  user        haproxy
  group       haproxy
  daemon
  stats socket /var/lib/haproxy/stats
   
defaults
  log global
  option  dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen stats 
  mode http 
  bind 0.0.0.0:8442
  stats enable 
  log global 
  stats uri /status 
  stats auth admin:123456
   
frontend kube-apiserver
  bind *:16443
  mode tcp
  default_backend kube-apiserver
   
backend kube-apiserver
  mode tcp
  server kube-apiserver-1 10.33.66.21:6443 check 
  server kube-apiserver-2 10.33.66.22:6443 check
#  server kube-apiserver-3 10.33.66.23:6443 check
